apiVersion: apps/v1
kind: Deployment
metadata:
  name: teams-workflows-test
  labels:
    app: teams-workflows-test
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: teams-workflows-test
  template:
    metadata:
      labels:
        app: teams-workflows-test
    spec:
      containers:
        - name: nginx
          image: nginx:1.21
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"

